body {
    background-color: #c5d3f0;
}

.body {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 75%;
    border-style: solid;
    border-color: #a8a8a8;
    border-radius: 8px;
    box-shadow: 5px 10px 18px #888888;
    padding: 3%;
    background-color: white;
}

h1 {
    color: #075dd9;
    text-align: center;
}

h2 {
    color: #075dd9;
    text-align: center;
}

h3 {
    color: #075dd9;
    text-align: center;
}

table {
    width: 100%;
}

.form-control {
    margin-top: 0px;
}

tr {
    text-align: left;
}

.title {
    width: 20%;
}

.date {
    width: 12%
}

nav {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a1afcc;
}

nav a {
    float: left;
    display: block;
    color: black;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #656f85;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 8px;
}

input[type="submit"] {
  background-color: #7da7e3;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 6px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 1%
}

input[type="submit"]:hover {
  cursor: pointer;
  background: #a1afcc;
  color: white;
}

.custom-file {
    padding-top: 0.75%
}
