<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edit Event</title>
        <!-- styles -->
    </head>
	
    <body>
		<nav>
		<!-- Navigation -->
		</nav>

        <!-- Body -->
		<h3>Edit Event</h3>
        <p>Event info goes here</p>
        <form action="{{ url_for('list', event_id=event.id) }}" method="post">
            <input type="submit" value="List">
        </form>
    </body>
</html>
