<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>G9 - TODO</title>
        <!-- styles -->
    </head>
	
    <body>
		<nav> 
		<!-- Navigation -->
		</nav>

        	<!-- Body -->
		<h1>Event</h1>

		<img>

		<p><strong>Title: </strong>{{ event.title }}</p>
		<p><strong>Date: </strong>{{ event.date }}</p>
		<p><strong>Description: </strong>{{ event.desc }}</p>

		<td><a href="{{ url_for('rsvp', event_id=event.id) }}">RSVP</a></td>


		<!-- Takes you to /index -->
		<button type="button">Back</button>
    </body>
</html>
