<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>G9 - TODO</title>
        <!-- styles -->
    </head>
	
    <body>
		<nav> 
		<!-- Navigation -->
		</nav>

        <!-- Body -->
	<h1>Events</h1>

        <button type="button" onclick="location.href='{{ url_for('profile') }}'">Profile</button>
        <button type="button" onclick="location.href='{{ url_for('new') }}'">Create Event</button>

        <form>
            <label>Search: </label>
            <input type="text" name="search"/>
        </form>

        <table>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
            {% for event in index %}
            <tr>
                <td><a href="{{ url_for('event', event_id=event.id) }}">{{ event.title }}</a></td>
                <td>{{ event.date }}</td>
                <td>{{ event.text }}</td>
		        <td><a href="{{ url_for('edit', event_id=event.id) }}">Edit</a></td>
		        <td>
		            <form action="{{ url_for('delete_event', event_id=event.id) }}" method="post">
		                <input type="submit" value="Delete">
		            </form>
                    <form action="{{ url_for('rsvp', event_id=event.id) }}" method="post">
                        <input type="submit" value="RSVP">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

        <table>
            <tr>
                <th>My events</th>
            </tr>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
            {% for event in my_events %}
            <tr>
                <td><a href="{{ url_for('event', event_id=event.id) }}">{{ event.title }}</a></td>
                <td>{{ event.date }}</td>
                <td>{{ event.text }}</td>
		        <td><a href="{{ url_for('edit', event_id=event.id) }}">Edit</a></td>
		        <td>
		            <form action="{{ url_for('delete_event', event_id=event.id) }}" method="post">
		                <input type="submit" value="Delete">
		            </form>
                    <form action="{{ url_for('rsvp', event_id=event.id) }}" method="post">
                        <input type="submit" value="RSVP">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

       <!-- <h2>Your Events</h2>
        <table>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            {% for note in notes %}
            <tr>
                <td><a href="{{ url_for('get_event', event_id=note.id) }}">{{ event.title }}</a></td>
                <td>{{ event.date }}</td>
		<td><a href="{{ url_for('edit', event_id=event.id) }}">Edit</a></td>
		<td>
		   <form action="{{ url_for('delete_event', event_id=event.id) }}" method="post">
		       <input type="submit" value="Delete">
		   </form>
            </tr>
            {% endfor %}
        </table>
        <h3>RSVP Events</h3>
        {% for rsvp in rsvp %}
            <tr>
                <td><a href="{{ url_for('get_event', event_id=event.id) }}">{{ event.title }}</a></td>
                <td>{{ event.date }}</td>
                </td>
            </tr>
            {% endfor %} -->
    </body>
</html>
