<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>G9 - TODO</title>
        <!-- styles -->
    </head>
	
    <body>
		<nav> 
		<!-- Navigation -->
		</nav>

        <!-- Body -->
	<h1>Events</h1>

        <button type="button">Profile</button>
        <button type="button">Create Event</button>

        <form>
            <label>Search: </label>
            <input type="text" name="search"/>
        </form>

        <table>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.date }}</td>
                <td>{{ event.desc }}</td>
            </tr>
        </table>

        <h3>Your Events</h3>
        <table>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.date }}</td>
                <td>{{ event.actions }}</td>
                <form action="{{ url_for('delete_event', event_id=event.id) }}" method="post">
                        <input type="submit" value="Delete">
                </form>
            </tr>
        </table>
    </body>
</html>
