<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Group 9 Event App">
		<title>Create A New Event</title>
		<!-- styles -->
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	</head>
	<body>
		<nav>
			<a href="{{ url_for('index') }}">Events</a>
            <a href="{{ url_for('new') }}">Create Event</a>
            <a href="{{ url_for('profile') }}">My Account</a>
            <a href="{{url_for('logout')}}">Logout</a>
		</nav>

		<div class="body">
			<h1>{{user}}'s New Event</h1>
			{% if event %}
			   <form action="{{ url_for('edit', event_id=event.id) }}" method="post" enctype="multipart/form-data">
			{% else %}
			   <form action="new" method="post" enctype="multipart/form-data">
			{% endif %}
					<p><label>Event Title</label></p>
					<p><input type="text" name="title" value="{% if event %}{{event.title}} {% endif %}"/></p>
					<p><label>Event Date</label></p>
					<p><input type="text" name="date" value="{% if event %}{{event.date}} {% endif %}"/></p>
					<p><label>Description</label></p>
					<p>
						<textarea name="eventText"  rows="6" cols="0">
							{% if event %}
							{{event.text}}
							{% else %}
							Add your event time and description here...
							{% endif %}
						</textarea>
					</p>
				   <h2>Upload an image</h2>
				   <label>Select image</label>
				   <div class="custom-file">
					   <input type="file" class="custom-file-input" name="image" id="image">
					   <label class="custom-file-label" for="image"></label>
				   </div>

					<p>
						{% if event %}
						<input type="submit" value="Update Event"/>
						{% else %}
						<input type="submit" value="List"/>
						{% endif %}
					</p>
			   </form>
			   </form>
		</div>
	</body>
</html>
