<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Group 9 Event App">
		<title>Group 9 Event App - New Event</title>
		<!-- styles -->
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	</head>
	<body>
		<nav>
			<a href="{{ url_for('index') }}"> Events Page</a> ||
			<a href="{{ url_for('profile') }}"> My Account</a>
		</nav>
		<nav>
			<a href="{{ url_for('logout') }}">Logout</a>
		</nav>
		
		<h1>{{user}}'s New Event</h1>
		{% if note %}
		<form action="{{ url_for('update_note', note_id=note.id) }}" method="post">
			{% else %}
			<form action="new" method="post">
				{% endif %}
				<p><label>Event Title</label></p>
				<p><input type="text" name="title" value="{% if note %}{{note.title}} {% endif %}"/></p>
				<p><label>Event Date</label></p>
				<p><input type="text" name="date" value="{% if note %}{{note.date}} {% endif %}"/></p>
				<p><label>Description</label></p>
				<p>
					<textarea name="noteText"  rows="6" cols="0">
						{% if note %}
						{{note.text}}
						{% else %}
						Add your event time and description here...
						{% endif %}
					</textarea>
				</p>
				<p>
					{% if note %}
					<input type="submit" value="Update Note"/>
					{% else %}
					<input type="submit" value="Save"/>
					<input type="submit" value="List"/>
					{% endif %}
				</p>
			</form>
			</body>
		</html>
