<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G9 Events - Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
</head>
    <body>
        <div>
            <h1>Welcome {% if user %}{{user}}{% endif %}to the Group 9 Events App!</h1>

            <h2>Use this site to find and create events.</h2>
            <div class="formwrapper">
                <h2 class="title">Register</h2>
                <form method="POST" action="/register">
                    <div class="form-field">{{ form.firstname.label }} {{ form.firstname }}
                        {% if form.firstname.errors %}
                        <ul class="errors">
                            {% for error in form.firstname.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-field">{{ form.lastname.label }} {{ form.lastname }}
                        {% if form.lastname.errors %}
                        <ul class="errors">
                            {% for error in form.lastname.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-field">{{ form.email.label }} {{ form.email }}
                        {% if form.email.errors %}
                        <ul class="errors">
                            {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-field">{{ form.password.label }} {{ form.password }}
                        {% if form.password.errors %}
                        <ul class="errors">
                            {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-field">{{ form.confirmPassword.label }} {{ form.confirmPassword }}
                        {% if form.confirmPassword.errors %}
                        <ul class="errors">
                            {% for error in form.confirmPassword.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {{ form.submit }}
                </form>
            </div>
        </div>
    </body>
</html>
