<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Report Event</title>
        <!-- styles -->
    </head>

    <body>
		<nav>
		<!-- Navigation -->
		</nav>

        <!-- Body -->
		<h3>Report Event</h3>
        <p>Tell us why you are reporting this event.</p>
            <form action="{{ url_for('event', event_id=event.id) }}" method="post">
                <input type="submit" value="Violent content">
            </form>

    </body>
</html>
