<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Report Event</title>
        <!-- styles -->
    </head>

    <body>
		<nav>
		<!-- Navigation -->
		</nav>

        <!-- Body -->
		<h3>Report Event</h3>
        <p>Tell us why you are reporting this event.</p>
            <form action="{{ url_for('index') }}">
                <input type="submit" value="Event describes violent behavior">
            </form>
            <form action="{{ url_for('index') }}">
                <input type="submit" value="Event describes illegal behavior">
            </form>
            <form action="{{ url_for('index') }}">
                <input type="submit" value="Event describes sexual behavior">
            </form>
            <form action="{{ url_for('index') }}">
                <input type="submit" value="Event discriminates against a race/gender/sexual orientation">
            </form>
            <form action="{{ url_for('index') }}">
                <input type="submit" value="Event description uses profanity or offensive language">
            </form>

    </body>
</html>
